In [9]:
import os
import pandas as pd

data = pd.read_parquet(os.path.join("tests", "data", "internet_speed_dataset",
                                    "2019-q1", "2019-01-01_performance_fixed_tiles.parquet"))
data.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,0231113112003202,"POLYGON((-90.6591796875 38.4922941923613, -90....",66216,12490,13,28,4
1,1322111021111001,"POLYGON((110.352172851562 21.2893743558604, 11...",102598,37356,13,15,4
2,3112203030003110,"POLYGON((138.592529296875 -34.9219710361638, 1...",24686,18736,18,162,106
3,0320000130321312,"POLYGON((-87.637939453125 40.225024210605, -87...",17674,13989,78,364,4
4,0320001332313103,"POLYGON((-84.7430419921875 38.9209554204673, -...",441192,218955,22,14,1

In [2]:
data = pd.read_parquet(os.path.join("tests","data", "internet_speed_dataset",
                                    "2019-q1", "2019-01-01_performance_mobile_tiles.parquet"))
data.head()

,quadkey,tile,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices
0,1202130120303121,"POLYGON((18.5284423828125 51.9103907098896, 18...",12503,5090,43,1,1
1,0322113021201023,"POLYGON((-69.9114990234375 18.4639785913204, -...",16109,11204,36,98,49
2,3100130002212100,"POLYGON((106.98486328125 -6.18424616128059, 10...",10325,7378,46,94,34
3,1231213031333131,"POLYGON((77.3382568359375 28.6423891579005, 77...",7187,2051,50,211,104
4,0230102031111210,"POLYGON((-122.376708984375 38.2554363763795, -...",76282,20332,27,2,2

In [18]:
from src.sql_executer import SQLExecuter
from src.column_class import Column

In [19]:
columns = [
    Column(type = "int", column_name = "year"),
    Column(type = "int", column_name = "quarter"),
    Column(type = "int", column_name = "quadkey"),
    Column(type = "int", column_name = "avg_d_kbps"),
    Column(type = "int", column_name = "avg_u_kbps"),
    Column(type = "int", column_name = "avg_lat_ms"),
    Column(type = "int", column_name = "tests"),
    Column(type = "int", column_name = "devices")
]

sql_executer = SQLExecuter()
sql_executer.create_table(table_name = 'internet_data',
                          columns = columns)

Test the insert procedure

In [20]:
quarters = ['2019-q1', '2019-q2', '2019-q3', '2019-q4',
            '2020-q1', '2020-q2', '2020-q3', '2020-q4',
            '2021-q1', '2021-q2', '2021-q3', '2021-q4']

total_time = 0

In [21]:
column_names = ["year", "quarter", "quadkey", "avg_d_kbps", "avg_u_kbps",
                 "avg_lat_ms", "tests", "devices"]

for quarter in quarters:
    year = int(quarter.split("-")[0])
    quarter_num = int(quarter.split("-")[1][-1])
    
    data = pd.read_parquet(os.path.join("tests","data", "internet_speed_dataset",
                                    quarter, "2019-01-01_performance_fixed_tiles.parquet"))
    
    for row in data.iterrows():
        values = [year, quarter_num, row[1]['quadkey'], row[1]['avg_d_kbps'], 
                    row[1]['avg_u_kbps'], row[1]['avg_lat_ms'], row[1]['tests'], 
                    row[1]['devices']]
        
        sql_executer.insert(table_name = 'internet_data',
                            columns = column_names,
                            values = values)
        
    data = pd.read_parquet(os.path.join("tests","data", "internet_speed_dataset",
                                    quarter, "2019-01-01_performance_mobile_tiles.parquet"))
    
    for row in data.iterrows():
        values = [year, quarter_num, row[1]['quadkey'], row[1]['avg_d_kbps'], 
                    row[1]['avg_u_kbps'], row[1]['avg_lat_ms'], row[1]['tests'], 
                    row[1]['devices']]
        
        sql_executer.insert(table_name = 'internet_data',
                            columns = column_names,
                            values = values)

In [4]:
sql_executer.delete_table(table_name = 'internet_data')